@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

div,
input,
textarea {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Noto Sans KR", sans-serif;
}

.main-background {
  width: 100%;
  height: 500px;
  background-color: cornflowerblue;
}

.main-background img {
  width: 100px;
  display: block;
}
