@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

div,
input,
textarea {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Noto Sans KR", sans-serif;
}

.main-background {
  width: 100%;
  height: 500px;
  background-color: cornflowerblue;
}
.main-title {
  color: white;
  font-weight: bold;
  font-size: 30px;
}
.main-content {
  color: white;
  font-size: 13;
}
.main-button {
  width: 110px;
  height: 40px;
  background-color: #464646;
  padding: 5px;
  border: none;
  border-radius: 5px;
  color: white;
}
.main-background img {
  width: 200px;
  height: 300px;
  display: block;
  display: flex;
}
