@use "reset";

@mixin fontStyle($size, $letterSpacing) {
  font-size: $size;
  letter-spacing: -1px;
}
h2 {
  @include fontStyle(40px);
}

h3 {
  @include fontStyle(30px);
}

h4 {
  font-size: 10px;
  letter-spacing: -1px;
}
